/* /Shared/Components/HostSetupForm.razor.rz.scp.css */

.as-host-form[b-2us9fkjj5p] {
    font-size: 2vh;
    border: var(--as-first-accent-color) 1px solid;
    border-radius: 4px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    background-color: #0003;
    box-shadow: 0 0 8px 4px var(--as-first-accent-shadow-color);
}

.as-host-form label[b-2us9fkjj5p] {
    font-size: 125%;
    margin: 0.25em 0.5em;
    text-decoration: underline;
    font-weight: bold;
}

.as-host-form select[b-2us9fkjj5p],
.as-host-form input[b-2us9fkjj5p] {
    border: inherit;
    background-color: inherit;
    color: var(--as-frontend-color);
    border-radius: inherit;
    padding: 0.5em;
    margin-inline: 0.5em;
    width: calc(100% - 2em);
    text-align: center;
}

.as-host-form select option[b-2us9fkjj5p] {
    background-color: #0008;
    color: var(--as-first-accent-color);
}

.as-host-form select:has(input) select[b-2us9fkjj5p],
.as-host-form input[b-2us9fkjj5p] {
    width: calc(50% - 2em);
    text-align: left;
} 

.as-host-form select[b-2us9fkjj5p] {
    padding: 0.5em 1em;
}

.as-host-form input[b-2us9fkjj5p]::placeholder {
    color: #FFF8;
}


/* /Shared/Components/MenuBar.razor.rz.scp.css */

.as-menubar[b-2eba5y97py] {
    position: relative;
    width: stretch;
    margin: 8px;
    height: 56px;
    background-color: #0006;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    padding: 4px;
    border: var(--as-foreground-color) 1px solid;
    box-shadow: 0 4px 12px 4px var(--as-foreground-shadow-color);
}

.as-menubar .as-logo[b-2eba5y97py] {
    height: calc(100% - 16px);
    margin: 8px;
}

.as-menubar .as-label[b-2eba5y97py] {
    font-size: 150%;
    color: var(--as-foreground-color);
    position: relative;
    margin: 0.0675em;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
/* /Shared/Components/UserSetupForm.razor.rz.scp.css */

.as-user-form[b-ec2dbdthq1] {
    font-size: 2vh;
    border: var(--as-first-accent-color) 1px solid;
    border-radius: 4px;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    background-color: #0003;
    box-shadow: 0 0 8px 4px var(--as-first-accent-shadow-color);
    margin-top: 1em;
}

.as-user-form button[b-ec2dbdthq1],
.as-user-form input[b-ec2dbdthq1] {
    background-color: inherit;
    border-color: inherit;
    border-style: solid;
    border-radius: 4px;
    color: var(--as-foreground-color);
    padding: 0.25em 0.5em;
    margin-right: 0.5em;
}

.as-user-form button[b-ec2dbdthq1] {
    width: 8em;
    white-space: nowrap;
}

.as-user-form input[b-ec2dbdthq1] {
    width: 100%;
}

/* /Shared/MainLayout.razor.rz.scp.css */

.page[b-w6qu7xgvin] {
    position: relative;
    display: block;
}

.hide[b-w6qu7xgvin] {
    display: none;
}
