
<div class="as-user-form">
    <input placeholder="Username... (cosmetic)" />
    <button type="submit" @onclick=UserRequest> Request User! </button>
</div>

@code {

    public void UserRequest() {
        
    }

}
